{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Wiki Encyclopedia{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3 sidebar">
                <h2>Wiki</h2>
                <form method="get" action="{% url 'search' %}" class="search-form">
                    <input type="text" class="form-control search-input" name="query" placeholder="Search...">
                    <button class="btn btn-outline-secondary search-button" type="submit">Search</button>
                </form>
                <nav>
                    <ul>
                        <li><a href="{% url 'index' %}" class="nav-link">Home</a></li>
                        <li><a href="{% url 'new_entry' %}" class="nav-link">Create New Page</a></li>
                        <li><a href="{% url 'random_entry' %}" class="nav-link">Random Page</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-9 main-content">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>